{% extends 'base.html' %}
{% load static %}
{% block title %}Selecionar Cultivo{% endblock %}

{% block content %}
<div class="div-cadastro">
    <h1>Selecione um Cultivo</h1>
    <form method="post" action="{% url 'detalhe' %}" class="row g-3">
        {% csrf_token %}
        <select name="cultivo" id="cultivo" class="form-select">
            {% for cultivo in cultivos %}
                <option value="{{ cultivo.nome }}">{{ cultivo.nome }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-success">Buscar</button>
    </form>
</div>
{% endblock %}