{% extends 'base.html' %}
{% load static %}
{% block title %}Selecionar Cultivo{% endblock %}
{% block content %}

<div class="container-selecionar">
    <h2>Selecione um Cultivo</h2>
    <form method="post" action="{% url 'detalhe' %}">
        {% csrf_token %}
        <label for="cultivo">Cultivo:</label>
        <select name="cultivo" id="cultivo">
            {% for cultivo in cultivos %}
                <option value="{{ cultivo.nome }}">{{ cultivo.nome }}</option>
            {% endfor %}
        </select>
        <button type="submit">Buscar</button>
    </form>
</div>

{% endblock %}