/* Estilos aplicados nas páginas HTML */

@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Arvo', serif;
}

.menu {
    background-color: green;
    height: 60px;
    align-content: center;
    text-align: center;
} /* Cabeçalho */

a {
    text-decoration: none;
    margin: 20px;
    color: white;
    font-size: 18px;
}

h1 {
    text-align: center;
    color: green;
    margin: 20px;
}

/* Classe de erro do Django */
.errorlist{
    font-size: 14px;
    color:red;
} 