@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Arvo', serif;
}

.menu {
    background-color: green;
    height: 60px;
    align-content: center;
    text-align: center;
}

a {
    text-decoration: none;
    margin: 20px;
    color: white;
    font-size: 18px;
}

.logo {
    margin-left: 20px;
}

/* Fim header */

.container {
    display: flex;
    margin-bottom: 20px;
}


.divesq {
    width: 50%;
}

.divdir {
    width: 50%;
}

h1 {
    text-align: center;
    margin-top: 23px;
}


.container-tabela {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.tabela1 {
    text-align: center;
    height: auto;
    border-collapse: collapse;
    background-color: green;
    border: 2px solid black;
    font-size: 20px;
    width: 600px;
    margin-bottom: 30px;

}

td, th {
    border: 2px solid white;
    color: white;
    font-size: 20px;
}


.titulo1 {
    text-align: center;
    margin: 20px
}

.titulo2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 85px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Temperatura */

.city{
    font-size: 32px;
}

.date {
    font-size: 16px;
}

.container-temp{
    display: flex;
    justify-content: center;
    background-color: green;
    box-shadow: 5px 6px grey;
    cursor: pointer;
    color:white;
    font-size: 100px;
    font-weight: 900;
    text-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather{
    font-size: 30px;
}

/* Rodapé */

footer {
    background-color: green;
    height: 60px;
    align-content: center;
    text-align: center;
    color: white;
    font-size:18px;
}
header, footer {
    flex-shrink: 0; 
}