{% extends 'base.html' %}
{% load static %}
{% block title %}Detalhes do cultivo{% endblock %}
{% block content %}

<div class="container-detalhe">
    {% if cultivos %}
        {% for cultivo in cultivos %}
        <!-- Parte esquerda da página -->
        <div class="esquerda">
            <h2>Cultivo</h2>
            <h2>{{ cultivo.nome }}</h2>
        </div>
        <!-- Parte direita da página -->
        <div class="direita">
            <h2>Recomendações do cultivo</h2>
            <p>A umidade recomendada é de {{ cultivo.umidade_recomendado }}%</p>
            <p>O pH recomendado é de {{ cultivo.ph_recomendado }}</p>
            <br>
            <p>{{ cultivo.texto_recomendacao }}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>Nenhum cultivo encontrado ou selecionado.</p>
    {% endif %}
</div>

{% endblock %}