{% extends 'base.html' %}

{% block title %}Confirmar exclusão{% endblock %}
{% block content %}

  <h2>Tem certeza de que deseja excluir este dado?</h2>
  <p>Bloco: {{ object.bloco }}</p>
  <p>cultivo: {{ object.cultivo }}</p>
  <p>PH: {{ object.ph }}</p>
  <p>Textura: {{ object.textura }}</p>

  <form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a href="{% url 'listagem_dados' %}" class="btn btn-secondary">Cancelar</a>
  </form>

{% endblock %}
