{% extends 'base.html' %} <!-- Trazendo o arquivo base -->

{% block title %}Listagem{% endblock %}

{% block content %}

<h1>Listagem dos dados</h1>
<div id="div-lista">
    <!--Tabela com a listagem dos dados-->
    <table class="table table-hover" id="lista-dados">

        <tr>
            <th>ID</th>
            <th>Bloco</th>
            <th>Cultivo</th>
            <th>PH</th>
            <th>Umidade</th>
            <th>Textura</th>
            <th>Data da inclusâo</th>
            <th>Edição / Exclusão</th>
        </tr>

        <!--Iteração dentro do banco de dados-->
        {% for dado in dados %}

        <tr>    
            <td>{{ dado.id }}</td>
            <td>{{ dado.bloco }}</td>
            <td>{{dado.cultivo }}</td>
            <td>{{ dado.ph }}</td>
            <td>{{ dado.umidade }}</td>
            <td>{{ dado.textura }}</td>  
            <td>{{ dado.data }}</td>
            <td>
                <a href="{% url 'editar_dados' dado.pk %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'excluir_dados' dado.pk %}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>

        {% endfor %}
    </table>
</div>

{% endblock %}

