{% extends 'base.html' %}

{% block content %}
<div class="container mt-5" style="margin-bottom: 50px;">
    <h1 class="text-center mb-4">Bem-vindo à Fazenda Inteligente</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-header">
                    O que você gostaria de fazer?
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <a href="{% url 'cadastro_dados' %} " class="btn btn-success btn-lg">Cadastrar dados</a>
                    </div>
                    <div class="mb-3">
                        <a href="{% url 'listagem_dados' %}" class="btn btn-success btn-lg">Listagem de dados</a>
                    </div>
                    <div class="mb-3">
                        <a href="{% url 'cadastrar_cultivo' %}" class="btn btn-success btn-lg">Cadastrar cultivos</a>
                    </div>
                    <div class="mb-3">
                        <a href="{% url 'listar_cultivos' %}" class="btn btn-success btn-lg">Listagem de cultivos</a>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    Use as opções acima para gerenciar seus dados.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
