{% extends 'base.html' %} <!-- Trazendo o arquivo base -->

{% block title %}Cadastrar{% endblock %}

{% block content %}
<form method="POST" action="{% url 'dados_fazenda' %}">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>  <!-- Erros gerais -->

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Bloco: </label>
        <div class="col-sm-10">
            {{ form.bloco }}
            <p>{{ form.bloco.errors }}</p>  <!-- Erros específicos do campo -->
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Cultura: </label>
        <div class="col-sm-10">
            {{ form.cultura }}
            <p>{{ form.cultura.errors }}</p>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">PH: </label>
        <div class="col-sm-10">
            {{ form.ph }}
            <p>{{ form.ph.errors }}</p>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Umidade: </label>
        <div class="col-sm-10">
            {{ form.umidade }}
            <p>{{ form.umidade.errors }}</p>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Textura: </label>
        <div class="col-sm-10">
            {{ form.textura }}
            <p>{{ form.textura.errors }}</p>
        </div>
    </div>

    <div> 
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
    </form>

{% endblock %}