{% extends 'base.html' %} <!-- Trazendo o arquivo base -->

{% block title %}Cadastrar Cultivo{% endblock %}

{% block content %}

<form method="POST" action="{% url 'cadastrar_cultivo' %}">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>  <!-- Erros gerais -->

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Nome: </label>
        <div class="col-sm-10">
            {{ form.nome }}
            <p>{{ form.nome.errors }}</p>  <!-- Erros específicos do campo -->
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">pH recomendado: </label>
        <div class="col-sm-10">
            {{ form.ph_recomendado }}
            <p>{{ form.ph_recomendado.errors }}</p>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Umidade recomendada: </label>
        <div class="col-sm-10">
            {{ form.umidade_recomendado }}
            <p>{{ form.umidade_recomendado.errors }}</p>
        </div>
    </div>

    

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Texto recomendado: </label>
        <div class="col-sm-10">
            {{ form.texto_recomendacao }}
            <p>{{ form.texto_recomendacao.errors }}</p>
        </div>
    </div>

    <div> 
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
    </form>

    <br>
    
    <a style="color: black;" href="{% url 'listar_cultivos' %}">Clique aqui para ir para listagem dos cultivos</a>

{% endblock %}
