{% extends 'base.html' %}

{% block title %}Listagem de cultivos{% endblock %}

{% block content %}

<div class="container mt-5">
    <a style="margin: 0;" href="{% url 'cadastrar_cultivo' %} " class="btn btn-success">Voltar ao cadastro</a>
    <h1 class="mb-4 text-center">Listagem dos Cultivos</h1>
    <hr>
    <div id="div-cultivo" class="table-responsive">
        <table class="table table-bordered table-striped text-center align-middle" id="tabela-cultivos">
            <thead class="bg-success text-white">
                <tr>
                    <th>Nome</th>
                    <th>Umidade Recomendada</th>
                    <th>pH Recomendado</th>
                    <th>Texto de Recomendação</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for dado in dados %}
                <tr>
                    <td>{{ dado.nome }}</td>
                    <td>{{ dado.umidade_recomendado }}</td>
                    <td>{{ dado.ph_recomendado }}</td>
                    <td>{{ dado.texto_recomendacao }}</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a href="{% url 'editar_cultivo' dado.pk %}" class="btn btn-warning mx-1">Editar</a>
                            <a href="{% url 'excluir_cultivo' dado.pk %}" class="btn btn-danger mx-1">Excluir</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
