<!-- Arquivo base para todas as outras páginas HTML -->

<!doctype html>
<html lang="pt-BR">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Meu Sistema{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles_cadastro.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/styles_detalhes_registro.css' %}" type="text/css">
  </head>
  <body>

    <!-- Cabeçalho -->
    <header>
        <div class="menu">
            <a  href="{% url 'home' %}">HOME</a>
            <a href="{% url 'cadastro' %}">CADASTRO</a>
            <a href="{% url 'dados_fazenda' %}">LISTAGEM</a>
            <a href="{% url 'selecionar' %}">DETALHES</a>
        </div>
    </header>

    <div class="container mt-4">
        {% block content %}
        <!-- O conteúdo de cada pagina sera inserido aqui -->
        {% endblock %}
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
